[core]
	excludesfile = ~/.gitignore_global
	editor = vim.sh
[user]
	name = Travis Finkenauer
	email = tmfinken@gmail.com
	signingkey = 99259A9249E036B849C4198B63C3BB781812D0BF
[color]
	ui = true
[push]
	default = simple
[rebase]
	instructionFormat = (%an <%ae>) %s
[commit]
[pull]
	rebase = false
[init]
	defaultBranch = main
