[submodule "i3-wk-switch"]
	path = gui/i3/i3-wk-switch
	url = https://github.com/tmfink/i3-wk-switch
[submodule "light"]
	path = gui/i3/light
	url = https://github.com/haikarainen/light.git
[submodule "gui/i3/volnoti"]
	path = gui/i3/volnoti
	url = https://github.com/12qu/volnoti
